@model IEnumerable<NalysaDeveloper.Models.Developers>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/NalysaDeveloperLayout.cshtml";
}

<h2>List of Nalysa Developers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


